var shortened_url = "<%= short_url(@url[:long], current_user) %>";
var link = "<tr><td><a href='" + shortened_url + "'>" + shortened_url + "</a></td></tr>";
<% if current_user %>
  var div_to_append = $("#user_shortened_urls");
<% else %>
  var div_to_append = $("#anonymous_shortened_urls");
<% end %>
div_to_append.append(link);